/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | GUI/~    |   Q  |    W  |  E  |  R  |  T  |     |  Y  |  U   |  I  |  O  |  P  | BKSP   |
// | CTRL/TAB |   A  |    S  |  D  |  F  |  G  |     |  H  |  J   |  K  |  L  |  ;  |  '     |
// | SHFT/(   |   Z  |    X  |  C  |  V  |  B  |     |  N  |  M   |  ,  |  .  |  /  | SHFT/) |
//                           | ALT | ENT | LWR |     | RSE | ENT  | CTRL|
                        bindings = <
   &mt LWIN GRAVE   &kp Q    &kp W      &kp E          &kp R    &kp T       &kp Y    &kp U     &kp I     &kp O    &kp P     &kp BSPC
   &mt LCTRL TAB    &kp A    &kp S      &kp D          &kp F    &kp G       &kp H    &kp J     &kp K     &kp L    &kp SEMI  &kp SQT
   &mt LSHFT LPAR   &kp Z    &kp X      &kp C          &kp V    &kp B       &kp N    &kp M     &kp COMMA &kp DOT  &kp FSLH  &mt RSHFT RPAR
                             &kp C_PP   &mt LALT ESC   &kp RET  &mo LWR     &mo RSE  &kp SPACE &kp RCTL  &none
                        >;
                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
                        label = "Default";
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  1  |  2  |  3  |  4  |  5  |        |  6  |  7  |  8  |  9  |  0  | BKSP |
// |      | F1  | F2  | F3  | F4  | F5  |        | LFT | DWN |  UP | RGT |     |      |
// |      | F6  | F7  | F8  | F9  | F10 |        |     |     |     |     |     |      |
//                    |     | ADJ |     |        | ADJ |     |     |
                        bindings = <
   &mt LWIN ESC &kp N1      &kp N2     &kp N3      &kp N4      &kp N5            &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &trans       &kp F1      &kp F2     &kp F3      &kp F4      &kp F5            &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &trans       &kp F6      &kp F7     &kp F8      &kp F9      &kp F10           &trans   &trans   &trans &trans    &trans &trans
                            &kp C_PREV &trans      &mo ADJ     &mo LWR           &mo ADJ  &mo LWR  &trans &none
                        >;
                        sensor-bindings = <&inc_dec_cp LC(PLUS) LC(MINUS)>;
                        label = "Lower";
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  #  |  $  |  %  |        |  ^  |  &  |  *  |  (  |  )  | DEL  |
// | CTRL |     |     |     |     |     |        |  -  |  +  |  {  |  }  | "|" |      |
// | SHFT |     |     |     |     |     |        |  _  |  =  |  [  |  ]  |  \  |      |
//                    |     |     | ADJ |        |     | ADJ |     |
                        bindings = <
   &kp  ESC     &kp EXCL    &kp AT     &kp HASH    &kp DLLR    &kp PRCNT         &kp CARET   &kp AMPS    &kp ASTRK  &kp LPAR &kp RPAR &kp DEL
   &trans       &none       &none      &none       &none       &none             &kp MINUS   &kp PLUS    &kp LBRC   &kp RBRC &kp PIPE &trans
   &trans       &none       &none      &none       &none       &none             &kp UNDER   &kp EQUAL   &kp LBKT   &kp RBKT &kp BSLH &trans
                            &kp C_NEXT &trans      &mo RSE     &mo ADJ           &mo RSE     &mo ADJ     &trans     &none
                        >;
                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
                        label = "Raise";
                };
                adjust_layer {
// -----------------------------------------------------------------------------------------
// | RST  | BLDR |     |     |     |     |        |     |     |     |     | BLDR | RST  |
// | BTCLR| BT0  | BT1 | BT2 | BT3 | BT4 |        | BT4 | BT3 | BT2 | BT1 | BT0  | BTCLR|
// |      |      |     |     |     |     |        |     |     |     |     |      |      |
//                     |     |     |     |        |     |     |     |
                        bindings = <
   &none        &none        &none        &bt BT_CLR   &reset       &bootloader        &bootloader  &reset       &bt BT_CLR   &none        &none         &kp INS
   &kp CAPS     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4       &bt BT_SEL 4 &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0  &none
   &none        &none        &none        &none        &none        &none              &kp C_PREV   &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT   &kp C_PP      &none
                             &kp C_MUTE   &trans       &trans       &trans             &trans       &trans       &trans       &none
                        >;
                        label = "Adjust";
                };
        };
};
